.idea/
*.tgz
*.rar
docker-compose-Linux-x86_64
*.tar
*.rpm
*.zip
*.tar.gz
application.yml.*
.deb
*.pyc
roles/app/files/zxw.aarch64
roles/app/files/zxw.x86_64
roles/harbor/files/
roles/k8s/files/sealos-aarch64
roles/k8s/files/sealos-x86_64
roles/app/files/monitor/
roles/flink/files/aarch64/